<div class="container" style="align:center;">
  <div id="ajax-information">
    <%= render 'detail' %>
  </div>
  <div class="card comment-card blue-grey darken-1" id="ajax-comments">
    <%= render 'comments' %>
  </div>
</div>