// 아래 두 줄이 있어야 나머지 scss 들이 포함된다
// *= require jquery-ui/datepicker
// *= require_tree .
// *= require_self

@import "materialize";

header .navbar-fixed {
  margin-bottom: 10px;
}

header .navbar-fixed nav {
  opacity: 0.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer .footer-copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-copyright .container .lionlogo>img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}