// 아래 두 줄이 있어야 나머지 scss 들이 포함된다
// *= require jquery-ui/datepicker
// *= require_tree .
// *= require_self

@import "materialize";

header .navbar-fixed {
}

header .navbar-fixed nav {
  opacity: 0.5;
}

.search-shops .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.search-shops .results .ui-menu-item {
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  width: 100%;
}

.search-shops .results .ui-menu-item a {
  color: black;
}





body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer .footer-copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-copyright .container .lionlogo>img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}