// Place all the styles related to the cau controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.information-card {

}

.information-card .card-action {
  display: flex;
  justify-content: space-between;
}

.information-card .card-action>.btn {
  width: 49%;
}