<div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating btn yellow darken-3">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="/restaurants" data-turbolinks="false"><i class="material-icons">restaurant</i></a></li>
    <li><a class="btn-floating yellow darken-1" href="/pubs" data-turbolinks="false"><i class="material-icons">local_bar</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">info</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">chat</i></a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">중앙대 오늘 어디갈까?</h5>
      <p class="grey-text text-lighten-4">by Astro</p>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2017 멋쟁이사자처럼 중앙대
    <%= link_to image_tag('/assets/likelionlogo.png'), 'likelion.org', class: 'lionlogo' %>
  </div>
</div>