<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <%= form_for find_cau_index_path, method: :get do %>
          <div class="input-field">
            <input id="search" type="search" name="search" required="true">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
      <% end %>
    </div>
  </nav>
</div>